/**
 * ENTITÀ
 *
 * Layout for entity page
 */

/* ------------------------------------ *\
    ENTITY
\* ------------------------------------ */
.aw-entity {
    display: grid;
    grid-template-columns: $aw-scheda-tree-width minmax($bubble-chart-column-container-min-width,1fr);

    margin: $space*3 auto $space*6 auto;
    max-width: $page-max-width;
    position: relative;

    &__content {
        margin-top: $space*3;
        background-color: $color-background-base;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
    }
}


/* ------------------------------------ *\
   #SIDEBAR
\* ------------------------------------ */
.aw-entity {
    &__sidebar-title-wrapper {
        padding: $space*2;
        background-color: $color-background-light;
        border: 1px solid $color-border-light;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
    }

    &__sidebar-title {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: $font-size-xl;

        .aw-entity__sidebar-title-icon {
            margin-right: $space*1.5;
        }

        &-text {
            font-weight: $font-weight-black;
            line-height: 1.15;
        }

        .color-persona & {
            color: $color-people;
        }

        .color-luogo & {
            color: $color-places;
        }

        .color-concetto & {
            color: $color-concepts;
        }

        .color-cosa-notevole & {
            color: $color-things;
        }

        .color-organizzazione & {
            color: $color-organizations;
        }

        .color-oggetto-culturale & {
            color: $color-oggetto-culturale;
        }

        .color-aggregazione & {
            color: $color-aggregazione;
        }
    }

    &__sidebar-title-wrapper {
        background: $entity-sidebar-title-background;
        border-top: 1px solid $color-border-light;
        border-right: 1px solid $color-border-light;
        border-left: 1px solid $color-border-light;
    }

    &__sidebar-title-text {
        font-weight: $font-weight-black;
    }

    &__sidebar {
        .n7-nav {
            background-color: $color-background-base;
            box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
        }

        .n7-nav__item {
            /* Current item */
            position: relative;
            &.is-selected {
                .n7-nav__link {
                    color: $color-text;
                    font-weight: $font-weight-bold;

                    &:hover {
                        color: $color-text;
                    }
                }

                &::before {
                    content: '';
                    display: block;
                    width: $space;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: $entity-nav-item-active-decoration-bg;
                }
            }
        }

        .n7-nav__link {
            display: block;
            padding: $space*2;
            border-bottom: 1px solid $color-border-light;
            color: $color-text-light;
            text-transform: uppercase;
            font-size: $font-size-l;

            &:hover {
                color: $color-text-link;
            }
        }

        &:last-of-type {
            .n7-nav__link {
                border-bottom: none;
            }
        }

    }
}


/* ------------------------------------ *\
   #CONTENT
\* ------------------------------------ */
.aw-entity {
    &__content-section {
        padding: $space*3;
        border-bottom: 2px solid $color-border-light;
    }

    &__content-section-header {
        display: flex;
        margin-bottom: $space*2.6;
        align-items: center;

        .n7-btn {
            margin-left: auto;
        }

        &-decorated {
            padding-bottom: calc(#{$space}*3 - 0.3em);
            border-bottom: 1px solid $color-border-light;
        }
    }

    &__content-section-title {
        font-weight: $font-weight-normal;
        font-size: $font-size-xxl;
    }

    &__content-section-overview {
        .n7-metadata-viewer {
            &__group {
                margin-bottom: $space*2.5;
            }

            &__item {
                display: grid;
                grid-template-columns: 200px 1fr;
                margin-bottom: $space*2.5;
            }

        }
    }

    &__overview-description {
        column-count: 2;
        font-size: $font-size-m;
        line-height: 1.70;
    }

    &-layout__button-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-top: $space*1.5;
    }

    .n7-breadcrumbs {
        padding: 0;
        background-color: transparent;
    }

    .n7-metadata-viewer {
        // column-count: 2;
        &__group {
            &-title {
                font-size: $font-size-l;
            }
        }
    }

    &__content-section-fields {
        .n7-metadata-viewer {
            &__group {
                margin-bottom: $space*3;
                margin-left: $space*3;

                &-content {
                    margin-left: $space*3;
                }
            }
        }
    }

    /* List of objects in overview and elated objects */
    &__content-item-previews {
        .n7-item-preview {
            margin-top: 0;
            padding-top: $space;
        }

        > *:last-child {
            > .n7-item-preview {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .n7-pagination {
        margin-top: $space*4;
    }

    /* Bubble chart in overview */
    .n7-bubble-chart {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0 $aw-scheda-content-padding $aw-scheda-content-padding $aw-scheda-content-padding;
        height: $bubble-section-entity-overview;
    }

    #bubbleChartContainer {
        height: 100%;
    }

    /* Bubble chart detail */

    #bubbleChartContainer {

    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: 1120px) {

    .aw-entity {
        &__overview-description {
            column-count: 1;
        }

        .n7-metadata-viewer {
            column-count: 1;
        }
    }
}

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
