/**
 * ENTITÀ
 *
 * Layout for entity page
 */

/* ------------------------------------ *\
    ENTITY
\* ------------------------------------ */
.aw-entity {
    display: flex;
    margin: $space*3 auto $space*6 auto;
    max-width: $page-max-width;
    position: relative;

    &__content {
        flex: 1;
        min-width: $bubble-chart-column-container-min-width;
        margin-top: $space*3;
        background-color: $color-background-base;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
    }
}


/* ------------------------------------ *\
   #SIDEBAR
\* ------------------------------------ */
.aw-entity {
    &__sidebar-title-wrapper {
        padding: $space*2;
        background-color: $color-background-light;
        border: 1px solid $color-border-light;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
    }

    &__sidebar-title {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: $font-size-xl;

        .aw-entity__sidebar-title-icon {
            margin-right: $space*1.5;
        }

        .color-persona & {
            color: $color-people;
        }

        .color-luogo & {
            color: $color-places;
        }

        .color-concetto & {
            color: $color-concepts;
        }

        .color-cosa-notevole & {
            color: $color-things;
        }

        .color-organizzazione & {
            color: $color-organizations;
        }

        .color-famiglia & {
            color: $color-families;
        }

        .color-evento & {
            color: $color-events;
        }
    }

    &__sidebar-title-text {
        font-weight: $font-weight-black;
        line-height: 1.15;
    }

    &__sidebar-title-wrapper {
        background: $entity-sidebar-title-background;
        border-top: 1px solid $color-border-light;
        border-right: 1px solid $color-border-light;
        border-left: 1px solid $color-border-light;
    }

    &__sidebar-title-text {
        font-weight: $font-weight-black;
    }

    &__sidebar {
        flex: 0 0 $aw-scheda-tree-width;
        width: $aw-scheda-tree-width;

        .n7-nav {
            background-color: $color-background-base;
            box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
        }

        .n7-nav__item {
            /* Current item */
            position: relative;
            &.is-selected {
                .n7-nav__link {
                    color: $color-text;
                    font-weight: $font-weight-bold;

                    &:hover {
                        color: $color-text;
                    }
                }

                &::before {
                    content: '';
                    display: block;
                    width: $space;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: $entity-nav-item-active-decoration-bg;
                }
            }
        }

        .n7-nav__link {
            display: block;
            padding: $space*2;
            border-bottom: 1px solid $color-border-light;
            color: $color-text-light;
            text-transform: uppercase;
            font-size: $font-size-l;

            &:hover {
                color: $color-text-link;
            }
        }

        &:last-of-type {
            .n7-nav__link {
                border-bottom: none;
            }
        }
    }

    /* Loading */
    &__sidebar-title-wrapper-loading {
        padding: $space*2;
        background-color: $color-background-light;
        border: 1px solid $color-border-light;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);

        .entity-placeholder-title {
            height: 29px;
            margin-bottom: 0;
        }
    }

    &__sidebar-nav-loading {
        background-color: $color-background-base;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);

        .n7-content-placeholder {
            padding: $space*2;
        }

        .entity-placeholder-nav {
            height: 25px;
            margin-bottom: 0;
        }
    }
}


/* ------------------------------------ *\
   #CONTENT
\* ------------------------------------ */
.aw-entity {
    &__content-section {
        padding: $space*3;
        border-bottom: 2px solid $color-border-light;
    }

    &__content-section-header {
        display: flex;
        margin-bottom: $space*2.6;
        align-items: center;

        .n7-btn {
            margin-left: auto;
        }
    }
    
    &__content-section-header-decorated {
        padding-bottom: calc(#{$space}*3 - 0.3em);
        border-bottom: 1px solid $color-border-light;
    }

    &__content-section-title {
        font-weight: $font-weight-normal;
        font-size: $font-size-xxl;
    }

    &__overview-description {
        column-count: 2;
        font-size: $font-size-m;
        line-height: 1.70;
    }

    &-layout__button-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-top: $space*1.5;
    }

    .n7-breadcrumbs {
        padding: 0;
        background-color: transparent;
    }

    .n7-breadcrumbs__list {
        font-size: $font-size-xs;
    }

    /* Hover on breadcrumbs */
    n7-smart-breadcrumbs {
        cursor: pointer;

        &:hover {
            + n7-item-preview {
                .n7-item-preview__title {
                    color: $color-main;
                }
            }
        }
    }

    /* List of objects in overview and elated objects */
    &__content-item-previews {
        .n7-item-preview {
            margin-top: 0;
            padding-top: $space;
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__content-item-preview-wrapper {
        margin: 0 0 $space*1.5 0;
        padding-bottom: $space*2;
        border-bottom: 1px solid #eff0f1;

        &:last-child {
            margin: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    /* Descriptor of the relation between Entity and O.C. */
    &__relation {
        display: inline-block;
        margin-top: $space*0.75;
        padding: $space/3 $space;
        background-color: $color-background-medium;
        border-radius: $border-radius;
        box-shadow: inset 0 0 10px rgba(0,0,0,.06);
    }

    &__relation-description {
        margin: 0;
        padding: 0;
        font-size: $font-size-xs;
        color: $color-text-light;
    }

    &__relation-key {
        color: $color-text;
    }

    &__relation-value {
        font-weight: $font-weight-bold;
        color: $color-text;
    }

    .n7-pagination {
        margin-top: $space*4;
    }

    /* Bubble chart */
    .n7-bubble-chart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #bubbleChartContainer {
        height: 100%;
    }

    /* Bubble chart in overview */
    .aw-entity__bubble-chart-wrapper-small {
        .n7-bubble-chart {
            height: $bubble-section-entity-overview;
        }
    }

    /* Bubble chart detail */
    .aw-entity__bubble-chart-wrapper {
        .n7-bubble-chart {
            height: $bubble-section-entity-detail;
        }
    }

    /* Loading */
    &__content-loading {
        flex: 1;
        min-width: $bubble-chart-column-container-min-width;
        margin-top: $space*3;
        background-color: $color-background-base;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);

        .aw-entity__content-loading-title {
            width: 40%;
            padding: $space*3;
        }

        .entity-placeholder-title {
            height: 45px;
        }

        .aw-entity__content-loading-items {
            .n7-content-placeholder {
                padding: $space*1 $space*3;
            }

            .entity-placeholder-item-preview {
                height: 25px;
            }
        }
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: 1120px) {

    .aw-entity {
        &__overview-description {
            column-count: 1;
        }

        .n7-metadata-viewer {
            column-count: 1;
        }
    }
}

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
