/**
 * HOMEPAGE
 *
 * Layout for homepage
 */

/* ------------------------------------ *\
    HERO
\* ------------------------------------ */
.aw-home {
    &__top-hero {
        .n7-hero {
            height: $top-hero-height;

            &__title {
                font-size: $font-size-xxxl;
                font-weight: $top-hero-title-font-weight;
            }

            &__text {
                font-size: $font-size-xl;

                &-wrapper {
                    height: $top-hero-height;
                    max-width: $top-hero-text-max-width;
                }
            }

            &__input {
                height: $top-hero-input-height;
                padding-right: $space*2;
                padding-left: $space*2;
                border-radius: $top-hero-input-border-radius 0 0 $top-hero-input-border-radius;
                box-shadow: $top-hero-input-box-shadow;
                line-height: $top-hero-input-height;
                font-size: $font-size-l;

                @include placeholder {
                    font-size: $font-size-l;
                }
            }

            &__btn {
                height: $top-hero-button-height;
                border-radius: 0 $top-hero-input-border-radius $top-hero-input-border-radius 0;
                border: none;
                font-size: $font-size-l;
            }

            &__input-wrapper {
                display: flex;
                min-width: 100%;
            }

            /* Autocomplete */
            .tippy-popper {
                width: 100%;
                max-width: 100%;
            }

            .tippy-tooltip, .tippy-content {
                padding: 0;
            }

        }
    }
}


/* ------------------------------------ *\
    BUBBLE-CHART
\* ------------------------------------ */
.aw-home {
    /* Bubble facets and chart wrapper */
    &__bubble-wrapper {
        display: grid;
        grid-template-columns: 220px 1fr;
        grid-column-gap: $grid-gutter-h;
        max-width: $page-max-width;
        margin: 0 auto;
        padding-top: $space*4;
        padding-bottom: $space*4;

        &.has-results {
            grid-template-columns: 220px minmax(200px, 1fr) 400px;
        }
    }

    .aw-home__facets-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__bubble-chart {
        padding: $space*2;
    }

    /* Bubble chart */
    .n7-bubble-chart {
        g {
            opacity: .9;
            transition: $transition-durations;

            &:hover {
                opacity: 1;
            }
        }
        g > circle, g > text {
            cursor: pointer;
        }
    }

    /* Facets */
    .aw-home__facet {
        padding-top: $space*2;
        border-bottom: 1px solid $color-border-normal;

        &:last-child {
            border-bottom: 0;
        }
    }

    .n7-facet-header {
        height: auto;
        position: relative;
        background-color: transparent;
        color: $color-text;

        &__text,
        &__secondary-text {
            line-height: 1.2;
        }

        &__text {
            margin-bottom: $space/2;
            font-size: $font-size-l;
            font-weight: $font-weight-bold;
            &-wrapper {
                display: flex;
                flex-flow: column nowrap;
                width: 100%;
                border-left: 1px solid $color-border-normal;
            }
        }

        &__secondary-text {
            margin-top: auto;
            margin-right: $space;
            margin-left: $space;
            color: $color-text-light;
        }

        &__title {
            position: absolute;
            left: 46px;
            margin-left: 0;
            font-size: $font-size-l;
            font-weight: $font-weight-bold;
        }

        &__counter {
            position: absolute;
            top: 25px;
            left: 46px;
            margin-left: 0;
            color: $color-text-light;
            font-size: $font-size-s;
        }

        &__icon-left {
            padding: 0 $space 0 0;
            background-color: transparent;
            color: $color-text;
            font-size: $font-size-xl;
        }

        &__icon-right {
            padding: 0 0 0 $space;
            background-color: transparent;
            color: $color-text-light;
            font-size: $font-size-l;
            cursor: pointer;
            transition: all $transition-durations;

            &:hover {
                color: $color-text-link-hover;
            }
        }

        &.color-people {
            .n7-facet-header__icon-left,
            .n7-facet-header__text {
                color: $color-people;
            }
        }

        &.color-places {
            .n7-facet-header__icon-left,
            .n7-facet-header__text {
                color: $color-places;
            }
        }

        &.color-concepts {
            .n7-facet-header__icon-left,
            .n7-facet-header__text {
                color: $color-concepts;
            }
        }

        &.color-organizations {
            .n7-facet-header__icon-left,
            .n7-facet-header__text {
                color: $color-organizations;
            }
        }

        /* Blocked */
        &.is-blocked {
            .n7-facet-header__icon-right {
                cursor: not-allowed;
                opacity: .25;

                &:hover {
                    color: $color-text-light;
                }
            }
        }
    }

    .n7-facet {
        margin-top: $space*1;
        padding-top: 0;

        &__section {
            position: relative;
        }

        &__input-text:disabled {
            border: 1px solid rgba($color-border-normal, .5);
        }

        /* Autocomplete/Tippy */
        .tippy-popper {
            width: 100%;
            max-width: 100%;
        }

        .aw-home__facet-tippy-theme {
            padding: 0;
            
            .tippy-content {
                padding: 0;
            }

            .n7-simple-autocomplete {
                border: 0;
            }
        }
    }

    /* Results */
    .aw-home__bubble-results {
        background: $color-background-layout;

        &-title {
            margin-bottom: $space*2;
            font-weight: $font-weight-normal;

            &-counter {
                margin-right: $space/2;
                font-weight: $bubble-results-count-font-weight;
            }
        }

        &-list {
            overflow: auto;
            max-height: $bubble-results-height;

            &-actions {
                display: flex;
                justify-content: center;

                .n7-btn {
                    font-weight: $font-weight-bold;
                }
            }
        }

        &-list-wrapper {
            border-top: 1px solid $color-border-normal;
            position: relative;
            &-with-scroll {
                position: absolute;
                top: $bubble-results-height - 50px;
                bottom: 0;
                width: 100%;
                height: 50px;
                background: $color-background-layout;
                background: $gradient-item-preview-list;
            }
        }
    }

    .aw-home__results-wrapper {
        padding: $space*2;
        background-color: $color-background-base;
    }

    .aw-home__bubble-tags-wrapper {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: $space*2;

        .n7-tag {
            margin-right: $space/2;
            padding-right: $n7-tag-icon-size + $space;
            position: relative;
            border-radius: 20px;

            &__label {
                font-weight: $font-weight-normal;
            }

            &__icon {
                width: $n7-tag-icon-size;
                height: $n7-tag-icon-size;
                position: absolute;
                top: 50%;
                right: $space/2;
                border-radius: 50%;
                transform: translateY(-50%);
                background-color: $n7-tag-icon-background;
                color: $color-text;
                font-size: $n7-tag-icon-font-size;
                text-align: center;
                line-height: $n7-tag-icon-size;
            }
        }
    }

    .aw-home__bubble-tags-title {
        margin-right: $space/2;
        font-weight: $font-weight-normal;
    }

    /* Tag colors */
    .tag-toe-people {
        background-color: $color-people;
    }

    .tag-toe-organizations {
        background-color: $color-organizations;
    }

    .tag-toe-concepts {
        background-color: $color-concepts;
    }

    .tag-toe-places {
        background-color: $color-places;
    }

    //TODO
    .aw-home__bubble-chart-wrapper {
        overflow: hidden;
    }

}


/* ------------------------------------ *\
    BOTTOM-HERO
\* ------------------------------------ */
.aw-home {
    &__bottom-hero {
        .n7-hero {
            &.has-image {
                .n7-hero__content {
                    grid-column-gap: 44px;
                }

                .n7-hero__title {
                    margin-bottom: $space*3;
                    font-size: $font-size-xxxl;
                    font-weight: $bottom-hero-title-font-weight;
                }

                .n7-hero__input-wrapper {
                    margin-top: $space*3;
                }

                .n7-hero__image {
                    border: $bottom-hero-image-border;
                    border-radius: $bottom-hero-image-border-radius;
                }

                .n7-hero__btn {
                    background: $bottom-hero-button-bg;
                    border: 0;
                    font-size: $font-size-l;

                    &:hover,
                    &:focus {
                        background: $bottom-hero-button-bg-hover;
                    }

                    &:active, &.active {
                        background: $bottom-hero-button-bg-active;
                    }

                    &:disabled, &.disabled {
                        background: $bottom-hero-button-bg-disabled;
                    }
                }
            }
        }
    }
}


/* ------------------------------------ *\s
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
    .aw-home {
        &__top-hero {
            .n7-hero {
                &__title {
                    font-size: $font-size-xxl;
                }
            }
        }
    }
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
    .aw-home {
        &__top-hero {
            .n7-hero {
                &__title {
                    font-size: $font-size-xl;
                }
            }
        }
    }
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
