/**
 * SCHEDA
 *
 * Layout for page detail of Cultural Objects and Aggregations.
 * Includes traa navigation on the right.
 */
 
/* ------------------------------------ *\
    LAYOUT
\* ------------------------------------ */
.aw-scheda {
    padding-top: $space*3;
    margin-bottom: $space*6;

    &__content {
        display: flex;
        position: relative;
        margin: 0 auto;
        max-width: $page-max-width;
  
        // display: grid;
        // grid-template-columns: $aw-scheda-tree-width minmax($bubble-chart-column-container-min-width,1fr);
        // grid-column-gap: 0;
    }

    &__tree {
        align-self: start;
        flex: 0 0 $aw-scheda-tree-width;
        width: $aw-scheda-tree-width;

        &.is-sticky {
            .n7-tree {
                height: calc(100% - #{$sidebar-header-height}); /* space for sidebar header */
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }

    &__scheda-wrapper {
        flex: 1;
        min-width: $bubble-chart-column-container-min-width;
        position: relative;
        z-index: 4;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);

        &-no-item {
            width: 50%;
            margin: $space*5 auto;
            text-align: center;
        }
    }

    .n7-sidebar-header {
        position: relative;
        z-index: 6;
    }
}


/* ------------------------------------ *\
    TREE
\* ------------------------------------ */
.aw-scheda__tree {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.10);

    .n7-tree {
        background-color: $color-background-base;
    }

    .n7-sidebar-header__icon-right {
        cursor: pointer;
    }

    /* First level */
    .n7-tree {
        > .n7-tree__item > .n7-tree__item-contents .n7-tree__item-text {
            font-size: $font-size-m;
            font-weight: $font-weight-bold;
        }
    }

    /* Loading */
    .aw-scheda__tree-content-loading {
        .n7-content-placeholder {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 0 $space*2;
            background-color: $color-background-base;
        }
        .tree-placeholder-item {
            width: 100%;
            margin-bottom: 0;
        }
    }
}


/* ------------------------------------ *\
    COLLAPSED
\* ------------------------------------ */
.aw-scheda__content.is-collapsed {
    display: block;

    .aw-scheda__tree {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
    }

    .n7-sidebar-header__icon-left,
    .n7-sidebar-header__text-wrapper {
        display: none;
    }

    .n7-breadcrumbs {
        margin-left: $sidebar-header-height;
    }
}


/* ------------------------------------ *\
    SCHEDA-DETAILS
\* ------------------------------------ */
.aw-scheda__scheda-wrapper {
    background-color: $color-background-base;

    /* Intro text */
    .aw-scheda__intro-text {
        padding: $space*2 $space*2.5;
        text-align: left;

        h2 {
            font-size: $font-size-xxl;
        }

        h3 {
            margin-top: $space*2;
            font-size: $font-size-l;
        }
    }

    /* Breadcrumbs */
    .n7-breadcrumbs {
        height: $sidebar-header-height;
        overflow: hidden;
        padding-left: $space*2;
        box-sizing: border-box;
        background-color: $color-background-medium;

        .n7-breadcrumbs__label {
            &:hover {
                color: $color-text-link;
            }
        }

        .n7-breadcrumbs__item:last-child a {
            cursor: pointer;
        }
    }

    /* Inner title */
    /* Main title that describes the scheda content */
    .n7-inner-title {
        &__title {
            font-weight: $scheda-title-font-weight;
        }
    }

    /* Minor inner titles that descibe the various sections */
    .aw-scheda__inner-title {
        padding: $aw-scheda-content-padding;
        border-top: 2px solid $color-border-normal;
        font-size: $font-size-xxl;
        font-weight: $font-weight-normal;
    }

    /* Description text */
    .aw-scheda__description {
        padding: $aw-scheda-content-padding;
        columns: 2;
        font-size: $font-size-m;
        line-height: 1.70;
    }

    /* Metadata */
    .aw-scheda__metadata {
        .n7-metadata-viewer {
            padding: 0 $aw-scheda-content-padding $aw-scheda-content-padding $aw-scheda-content-padding;
            columns: 2;
        }

        .n7-metadata-viewer__group-wrapper {
            break-inside: avoid;
        }

        .n7-metadata-viewer__group-title {
            font-size: $font-size-l;
        }
    }

    /* Bubble chart */
    .aw-scheda__bubble-chart {
        .n7-bubble-chart {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 $aw-scheda-content-padding $aw-scheda-content-padding $aw-scheda-content-padding;
            height: $bubble-section-patrimonio;
        }

        #bubbleChartContainer {
            height: 100%;
        }
    }
    
    /* Related items */
    .aw-scheda__related {
        overflow: hidden; /* For fake grid gap */
    }

    .aw-scheda__related-items {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-column-gap: $grid-gutter-h;
        padding: 0 $aw-scheda-content-padding $aw-scheda-content-padding $aw-scheda-content-padding;

        /* Targeting elements in the last row */
        >*:nth-child(2n + 1):nth-last-child(-n + 2),
        >*:nth-child(2n + 1):nth-last-child(-n + 2) ~ * {
            .n7-item-preview {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}

/* Loading */
.aw-scheda__scheda-wrapper-loading {
    background-color: $color-background-base;
    z-index: 4;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: 1179px) {

    .aw-scheda__scheda-wrapper {
        .n7-inner-title__tools {
            margin-left: 39px;
            padding-top: $space/2;
        }
    }

}

@media all and (max-width: 1120px) {

    .aw-scheda__scheda-wrapper {
        /* Description text */
        .aw-scheda__description {
            columns: 1;
        }

        /* Metadata */
        .aw-scheda__metadata {
            .n7-metadata-viewer {
                columns: 1;
            }
        }
    }
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
