/**
 * SEARCH
 *
 * Layout for search page
 */

/* ------------------------------------ *\
    SEARCH
\* ------------------------------------ */
.aw-search {
    margin: $space*3 auto $space*6 auto;
    max-width: $page-max-width;
    box-shadow: $search-box-shadow;

    &__content-wrapper {
        display: grid;
        grid-template-columns: $aw-scheda-tree-width 1fr;
        column-gap: $space*2;  
        position: relative;
    }
    
    &__content {
        padding: $space*2 0 0;
        background-color: $color-background-base;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
    }
}


/* ------------------------------------ *\
   #HEADER
\* ------------------------------------ */
.aw-search {
    &__header {
        display: flex;
        align-items: center;
        padding: $space*3;
        background: #ffffff;
        border-bottom: 1px solid $color-border-normal;
    }

    &__header-title {
        margin-bottom: 0;
    }

    &__header-left {
        flex: 1;
    }

    &__header-right {
        margin-left: auto;
    }

    .n7-nav {
        &__list {
            display: flex;
        }

        &__item {
            padding: 0 $space*2;
            font-size: $font-size-m;

            &:last-of-type {
                padding-right: 0;
            }

            &.is-selected {
                .n7-nav__link {
                    position: relative;
                    color: $color-text;

                    &::before {
                        content: '';
                        height: $search-nav-decoration-height;
                        position: absolute;
                        right: 0;
                        bottom: -($space*3 + $search-nav-decoration-height + 1px);
                        left: 0;
                        background-color: $color-text;
                    }
                }
            }
        }

        &__link {
            color: $color-text-light;
        }
    }
}


/* ------------------------------------ *\
   #SIDEBAR
\* ------------------------------------ */
.aw-search {
    &__sidebar {
        height: 100vh;
        align-self: start;
        padding: $space*2 0 $space*4 $space*2;
        position: sticky;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;

        .n7-facet {
            &__section {
                margin-right: 0;
                margin-left: 0;
            }

            &__section-input-select {
                width: calc(50% - #{$space});
        
                .n7-facet__section-input,
                .n7-facet__input-select {
                    width: 100%;
                }

                & + .n7-facet__section-input-select {
                    margin-left: $space*2;
                }
            }
        }
    }

    &__facets {
        height: 100%;
    }
}


/* ------------------------------------ *\
   #CONTENT
\* ------------------------------------ */
.aw-search {
    &__content {
        background: $color-background-layout;
        box-shadow: none;

        .n7-breadcrumbs {
            padding: 0;
        }
    }

    &__total {
        font-size: $font-size-xl;
    }

    &__total-number {
        font-weight: $font-weight-bold;
    }

    &__total-title {
        font-weight: $font-weight-normal;
    }

    &__results-header {
        display: flex;
        align-items: center;
        padding: 0 $space*2 $space*2;
    }

    &__results-header-right {
        margin-left: auto;
        padding-left: $space;
    }

    &__results-wrapper {
        padding: $space;
        background: #ffffff;

        .n7-breadcrumbs {
            background-color: transparent;
        }
    }

    &__results-select-orderby-label {
        margin-right: $space;
    }

    .n7-pagination {
        padding: $space 0;
    }
}
