/**
 * FACETS-WRAPPER
 *
 * Facets wrapper component.
 */
 
/* ------------------------------------ *\
   #FACETS-WRAPPER
\* ------------------------------------ */
.n7-facets-wrapper {
    .n7-facet__section-input-link {
        &.is-hidden {
            display: none;
        }
    }
    .n7-facet .n7-facet__input-link.empty-text-link:hover {
        cursor: inherit;
        .n7-facet__input-link-text {
            color: $color-text;
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}