/**
 * BUBBLE-POPUP-MENU
 *
 * Bubble popup component.
 */

/* ------------------------------------ *\
   #BUBBLE-POPUP-MENU
\* ------------------------------------ */
.aw-bubble-popup-menu {
    &__close {
        position: absolute;
        top: $space*1.5;
        right: $space*1.5;
        color: $color-text-light;
        cursor: pointer;
        transition: all $transition-durations;

        &:hover {
            color: $color-text-link;
        }
    }

    &__title {
        margin-bottom: $space/2;
        padding-right: $space*3;
        font-weight: $font-weight-black;
    }

    &__text {
        font-size: $font-size-s;
    }

    &__actions {
        margin-top: $space;
    }

    &__link {
        color: $color-text;
        font-weight: $font-weight-bold;
        cursor: pointer;
        transition: all $transition-durations;

        &:hover {
            color: $color-text-link;
        }

        & + .aw-bubble-popup-menu__link {
            margin-left: $space;
            padding-left: $space;
            border-left: 1px solid $color-border-normal;
        }
    }
}

.aw-bubble-chart-wrapper {
    width: 100%;
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}