/**
 * ITEM-PREVIEW
 *
 * Component used to preview any kind of element with image, title, text, metadata and icons.
 */

/* ------------------------------------ *\
   #ITEM-PREVIEW
\* ------------------------------------ */
.n7-item-preview {
    margin: $space*1.5 0 $space 0;
    padding-bottom: $space*2;
    border-bottom: 1px solid $color-border-light;

    &__title {
        margin-bottom: $space/2;
        font-weight: $font-weight-bold;

        em {
            font-style: normal;
            background-color: $color-highlight;
        }
    }

    &__text {
        em {
            font-style: normal;
            background-color: $color-highlight;
        }
    }

    &__metadata {
        &-item {
            display: inline;
            align-items: baseline;
            padding-right: $space;
            border-right: 1px solid $color-border-normal;

            &:last-of-type {
                border-right: none;
            }

            &.color-persona {
                color: $color-people;
            }

            &.color-luogo {
                color: $color-places;
            }

            &.color-concetto {
                color: $color-concepts;
            }
            
            &.color-cosa-notevole {
                color: $color-things;
            }
            
            &.color-organizzazione {
                color: $color-organizations;
            }
            
            &.color-oggetto-culturale {
                color: $color-oggetto-culturale;
            }
            
            &.color-aggregazione {
                color: $color-aggregazione;
            }
            
            &-icon {
                font-size: $font-size-m;
                font-weight: $font-weight-bold;
            }

            &-value {
                font-size: $font-size-s;

                em {
                    font-style: normal;
                    background-color: $color-highlight;
                }
            }
        }

        &-group {
            &:last-of-type {
                margin-bottom: 0;
            }

            &.n7-objects__metadata-artist {
                .n7-item-preview__metadata-item-value {
                    font-weight: $font-weight-normal;
                }

                .n7-item-preview__metadata-item-label {
                    & + .n7-item-preview__metadata-item-value {
                        margin-left: $space/4;
                        font-weight: $font-weight-bold;
                    }
                }

                .n7-item-preview__metadata-item-icon {
                    margin-right: 0;
                }
            }

        }
    }

    &.has-image {
        grid-template-columns: $item-preview-image-size 1fr;

        .n7-item-preview__image {
            width: $item-preview-image-size;
            height: $item-preview-image-size;
        }
    }
}

/* ------------------------------------ *\
   #IS-FULLWIDTH
\* ------------------------------------ */
.n7-item-preview.is-fullwidth {

    .n7-item-preview__metadata {
        display: flex;

        &-group {
            margin-bottom: 0;

            &.n7-objects__metadata-linked {
                margin-left: auto;
                flex: 1 0 auto;
                text-align: right;
            }
        }
    }
}


/* ------------------------------------ *\
   #ENTITIES-COLOURED-TITLE
\* ------------------------------------ */
.n7-item-preview.is-persona {
    .n7-item-preview__title {
        color: $color-people;
    }
}

.n7-item-preview.is-luogo {
    .n7-item-preview__title {
        color: $color-places;
    }
}

.n7-item-preview.is-concetto {
    .n7-item-preview__title {
        color: $color-concepts;
    }
}

.n7-item-preview.is-cosa-notevole {
    .n7-item-preview__title {
        color: $color-things;
    }
}

.n7-item-preview.is-organizzazione {
    .n7-item-preview__title {
        color: $color-organizations;
    }
}

.n7-item-preview.is-famiglia {
    .n7-item-preview__title {
        color: $color-families;
    }
}

.n7-item-preview.is-evento {
    .n7-item-preview__title {
        color: $color-events;
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}