/**
 * METADATA-VIEWER
 *
 * Component to display metadata organized and nested in groups.
 */
 
/* ------------------------------------ *\
   #METADATA-VIEWER
\* ------------------------------------ */
.n7-metadata-viewer {
    &__group-wrapper {
        break-inside: avoid;
    }
    
    &__group {
        break-inside: auto;
    }

    &__item {
        break-inside: avoid;
    }

    &__item-label {
        display: block;
        margin-bottom: $space/2;
    }

    &__item-value {
        white-space: pre-wrap
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}